<div class="container-fluid">

  <div class="row text-center">
    <div class="col-sm">
      <h3>SISTEMA DE GERENCIAMENTO DE CLIENTES</h3>
    </div>
  </div>

  <div class="row text-center">

    <div class="col-sm container-box">
      <div class="quick-info-box">
        <i class="fa fa-user-secret home-icon"></i>
        <h4>ADMINISTRADORES</h4>
        <p>Veja e administre a lista de clientes<br/> cadastrados no sistema</p>
        <button class="btn btn-dark" routerLink="/admin">VER MAIS</button>
      </div>
    </div>

    <div class="col-sm container-box">
      <div class="quick-info-box">
        <i class="fa fa-user-circle home-icon"></i>
        <h4>CLIENTES</h4>
        <p>Veja e cadastre clientes<br/> no sistema</p>
        <button class="btn btn-dark" routerLink="/clientes">VER MAIS</button>
      </div>
    </div>

  </div>

  <div class="row text-center">

    <div class="col-sm">
      <!--ESPEÇAMENTO-->
    </div>

    <div class="col-sm container-box">
      <div class="quick-info-box">
        <i class="fas fa-sign-out-alt home-icon"></i>
        <h4>SAIR</h4>
        <p>Efetue o logout<br/> do nosso sistema</p>
        <button class="btn btn-dark" routerLink="/login">SAIR</button>
      </div>
    </div>

    <div class="col-sm">
      <!--ESPEÇAMENTO-->
    </div>

  </div>

</div>
